# 1. Wejdź na https://github.com/settings/applications/new
#    Homepage URL: http://localhost:4321
#    Callback URL: http://localhost:4321/oauth/callback
# 2. Skopiuj Client ID i Client Secret

OAUTH_GITHUB_CLIENT_ID=twój_client_id
OAUTH_GITHUB_CLIENT_SECRET=twój_client_secret
